*{ box-sizing: border-box; }
       
       html, body {
         font-family: verdana, arial, sans-serif;
         font-size: 1em;
       }

        
       body {
         background: #F5F5F5; 
         display: flex;
         flex-flow: row nowrap; 
         max-width: 100vw;
       }

       h3, h4 {
         text-align: center;
       }

	.main-container {
         display: flex;
       }

       aside {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
         background: black;
         color: white;
         height: 320em;
       }

       .form-inline {
         height: 3.75em;
         width: 15.625em;
         background: white;
       }

       .navbar form {
         display: flex;
         flex-flow: row nowrap;
         justify-content: center;
         width: 15.625em;
         background: black;
       }

       .navbar .form-control {
         width: 9.375em;
         border-radius: 0;
       }

       .btn {
         background: black;
         border-radius: 0;
         margin-left: 0.05em;
       }


       .fa-search {
         content: "\f002";
         font-family: "Font Awesome 5 Free"; 
         font-weight: 900;
         text-rendering: auto;
         -webkit-font-smoothing: antialiased;
         color: white;         
       }

       .navbar-toggler {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         background: none;
         height: 1.9em;
         width: 2.2em;
         border-radius: 0;
         border: none;
       }

       .navbar-toggler:focus, .navbar-toggler:active {
         outline: none;
         box-shadow: none;         
       }

       .navbar-toggler:active {
         background: grey;
       }

       p {
         text-align: center;  
         padding: 1.25em;
       }

       .logo1 {
         width: 9.375em;
         padding-top: 9.375em;
         margin-left: 4em;
       }
        
       #navbar1 {
         background: white;
         padding: 0.625em;  
       }
    
       .navbar-my ul li a{
         color: #fff;
       }

       .navbar-my ul li a:hover{
         background: #333;
       }

       .navbar-my {
         color: #fff;
       }
               

       main {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
       }
        
       article {
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         height: 82%;
         padding: 1em;
       }

       inside {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         margin: auto;
         padding: 2em;         
       }

       .b1 {
         height: auto;
         background-color: white;
       }

       .b2 {
         height: auto;
         background-color: white;
       }

       .b3 {
         height: auto;
         background-color: white;
       }

       .b4 {
         height: auto;
       }

       .b5 {
         height: auto;
         background-color: white;
       }

        
       .text-style {
         color: #C0C0C0;
         font-style: italic;
       }

       .leftfoto {
         width: 50%;
         height: auto;        
       }

       .train {
         display: flex;
         flex-flow: row nowrap;
         justify-content: space-between;
       }


       .t1 {
         display: flex;
         flex-direction: column;
         padding-top: 3em;
       }

       .continue {
         font-weight: bold;
         align-self: flex-end;
         margin-top: 1em;
       }


       a {
         color: black;
         text-decoration: none; 
       }

       a:hover {
         color: #D3D3D3;
         text-decoration: none;
       }

        
       .block1 {
         display: flex;
         flex-flow: column nowrap;
         justify-content: space-between;
       }


       .text {
         padding-bottom: 1em;
       }


       .block2 {
         display: flex;
         flex-flow: column nowrap;
         justify-content: space-between;          
       }

       .gallery {
         display: flex;
         flex-flow: column nowrap;
         justify-content: center;
         align-items: center;
         position: relative;
         padding: 1.5em;         
       }

       .g1 {
         flex-flow: row nowrap; 
         padding-left: 2em;   
       }

       .g2 {
         flex-flow: row nowrap;   
         padding-top: 0.3125em;
         padding-left: 2em;        
       }


       .i1, .i3, .i5, .i6 {
         width: 24%;
         height: 24%;
       }

       .i2, .i4 {
         width: 48%; 
         height: 24%;                    
       }


       .fa-long-arrow-alt-right {
         content: "\f30b";
         font-family: "Font Awesome 5 Free";
         font-weight: 900;
         text-rendering: auto;
         -webkit-font-smoothing: antialiased;
         padding-left: 0.625em;
       }

       .fa-font {
         content: "\f031";
         font-family: "Font Awesome 5 Free";
         font-weight: 900;
         text-rendering: auto;
         -webkit-font-smoothing: antialiased;
         padding-right: 0.625em;
       }

       .fa-heart {
         content: "\f004";
         font-family: "Font Awesome 5 Free"; 
         font-weight: 900;
         text-rendering: auto;
         -webkit-font-smoothing: antialiased;
         padding-right: 0.625em;
       }

       .fa-image {
         content: "\f03e";
         font-family: "Font Awesome 5 Free";      
         font-weight: 900;
         text-rendering: auto;
         -webkit-font-smoothing: antialiased;
         padding-right: 0.625em;
       }

       .fa-mobile-alt {
         content: "\f3cd";
         font-family: "Font Awesome 5 Free";         
         font-weight: 900;
         text-rendering: auto;
         -webkit-font-smoothing: antialiased;
         padding-right: 0.625em;
         padding-left: 0.125em;
       }

       .line {
         display: flex;
         flex-flow: row nowrap;
         justify-content: space-around;
         padding: 1em;
       }

       .line div{
         font-size: 0.75em;
         padding-right: 1em;
       }

       .fa-clock {
         content: "\f017";
         font-family: "Font Awesome 5 Free";       
         font-weight: 900;
         text-rendering: auto;
         -webkit-font-smoothing: antialiased;
         padding-right: 0.3125em;
       }

       .fa-folder-open {
         content: "\f07c";
         font-family: "Font Awesome 5 Free";         
         font-weight: 900;
         text-rendering: auto;
         -webkit-font-smoothing: antialiased;
         padding-right: 0.3125em;
       }

       .fa-comments {
         content: "\f086";
         font-family: "Font Awesome 5 Free";         
         font-weight: 900;
         text-rendering: auto;
         -webkit-font-smoothing: antialiased;
         padding-right: 0.3125em;
       }

       .fa-eye {
         content: "\f06e";
         font-family: "Font Awesome 5 Free";        
         font-weight: 900;
         text-rendering: auto;
         -webkit-font-smoothing: antialiased;
         padding-right: 0.3125em;
       }

       footer {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         width: 100%;
         height: 18%;
         background: black;
         color: #C0C0C0;
       }

 

       .works{
         display: flex;
         flex-flow: column nowrap;
         justify-content: flex-start;
         align-items: flex-start;        
         max-width: 25vw;
         padding: 0.625em;
         padding-top: 2em;
       }

       .categories {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         padding: 0.625em;
         padding-top: 2em;
         padding-bottom: 1em;
         max-width: 20vw;
       }

       .facebook{
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
         padding: 0.625em;
         padding-top: 2em;
         max-width: 30vw;
       }

       .fb-post {
         padding-top: 0.625em;
         max-width: 100vw;
         align-items: center;
       }

       .block3 {
         display: flex;
         flex-flow: column nowrap;
         justify-content: space-between;
       }

       .video {
         overflow: hidden;
         position: relative;
         padding-bottom: 56.25%;
         padding-top: 30px;
         height: 0;
       }

       .video iframe {
         position: absolute;
         width: 100%;
         height: 100%;
         padding-bottom: 1em;
         left: 0;
         top: 0;
       }

       .readmore {
         background: grey;
         text-align: center;
         font-weight: bold;
         color: white;
         width: 100%;
         height: 1.875em;
       }

       .fa-chevron-right {
         content: "\f054";
         font-family: "Font Awesome 5 Free";         
         font-weight: 900;
         text-rendering: auto;
         -webkit-font-smoothing: antialiased;
         padding-left: 0.3125em;
       }

       .block4 {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         width: 100%;
       }

       .portfolio {
         display: flex;
         flex-flow: row nowrap;
         justify-content: space-between;
         width: 100%;
       }

       .vpeople, .bpeople, .urban {
         display: flex;
         flex-flow: column nowrap;
         align-items: center;
         text-align: center;
         background: white;
         width: 30%;
         padding: 0.625em;
       }

       .i10, .i20, .i30 {
         width: 90%;
         padding: 0.625em;
       }

       .block5 {
         display: flex;
         flex-flow: row wrap;
         justify-content: space-between;
       }

       .block5 div {
         width: 47%;
         padding: 0.625em;
       }

       .block6 {
         display: flex;
         flex-flow: row nowrap;
         color: white;
         justify-content: space-around;
       }


      

       .fv {
         display: flex;
         flex-flow: row nowrap;
       }

       .i70, .i80, .i40 {
         width: 35%;
         padding: 0.625em;
       }

       .Baltimore {
         display: flex;
         flex-flow: row nowrap;
         align-items: center;
       }

       .Back {
         display: flex;
         flex-flow: row nowrap;
         justify-content: flex-start;
         align-items: center;
       }

       .APD {
         display: flex;
         flex-flow: row nowrap; 
         justify-content: flex-start;
         align-items: center;
       }

       .logo2 {
         width: 6.25em;
         align-self: center;
         margin-bottom: 2em;
       }

       .text-color {
         color: grey;
       }
        


       @media (max-width: 1200px) and (min-width: 300px) {

         .navbar-container {
           top: 0;
           overflow-y: auto;
         }


         body {
           display: flex;
           flex-direction: column;           
         }


	 aside {
           flex-flow: column-reverse nowrap;
           justify-content: space-around;
           align-items: flex-start;
	   max-height: 10em;
           max-width: 100vw; 										           
	 }

         .start {
           display: flex;
           flex-flow: row-reverse nowrap;
           justify-content: space-between;
           align-items: center;
           width: 100vw;
           margin-top: 0.2em;
         }
         
         .logo1 {
           max-width: 3em;
           position: relative;
           padding-top: 0.5em;
           margin-left: 0.5em;
           margin-right: 0.5em;
         }

         inside {
           margin: 3% auto;
           max-width: 90vw;
           padding: 0.8em;       
         }

         .gallery {
           padding: 1em 0.3em;
         }

         .g1 {
           display: flex;
           flex-direction: column;  
           padding-left: 0.2em;
         }

         .g2 {
           display: flex;
           flex-direction: column; 
           padding-left: 0.2em; 
           padding-top: 0;        
         }

         .i1, .i3, .i5, .i6 {
           width: 100%;
           height: auto;
           padding-top: 0.5em; 
         } 

         .i2, .i4 {
           width: 100%; 
           height: auto;
           padding-top: 0.5em;                     
         } 

         aside p {
           font-size: 1em;
           margin: 0em;
           padding: 0.5em; 
           padding-left: 1.5em; 
         }

         .portfolio {
           display: flex;
           flex-direction: column;
           justify-content: space-around;
           align-items: center;
         }

         .vpeople, .bpeople, .urban {
           width: 100%;
           margin: 1em;
         }


         main {
           max-width: 100%;
         }

         .block6 {
           display: flex;
           flex-direction: column;
           align-items: center;
           max-width: 100vw;
         }

        

         .works{  
           flex-direction: column;
           justify-content: space-around;
           align-items: center;
           max-width: 100vw;
           font-size: 1.2em; 
           padding: 0.5em; 
           margin-top: 1em;    
         }

         .works h5 {
           padding-left: 0.5em;
         }


         .block6 h5 {
           font-size: 1.5em;
         }


         .smscreen {
           display: flex;
           flex-flow: row nowrap;
         }

         .categories {            
           max-width: 100vw;
           padding-top: 1em;
           font-size: 1.2em;
           margin: auto;                     
         }

         .facebook {
           align-items: center;
           max-width: 100vw;            
         }
         
         .fb-post, .fb_iframe_widget, .fb_iframe_widget_fluid {
           align-items: center;
           padding: 1em;
           width: 100vw;          
         }


         .train {
           display: flex;
           flex-direction: column-reverse;
         }

         .t1 {
           padding-top: 1em;
         }

         .leftfoto {
           width: 100%;
           height: auto;
         }

        
         footer, .block6 {
           max-width: 100vw;
         }
          
         nav {
           max-width: 100vw;
         }


         .i70, .i80, .i40 {
           width: 100%;
           height: auto;
         }

         .Baltimore, .Back, .APD {
           display: flex;
           flex-direction: column;
           padding-bottom: 0.5em;
           text-align: center;
         }

         .line {
           padding: 0.5em 0;
         }

         .block5 {
           display: flex;
           flex-flow: column nowrap;
         }


         .block5 div {
           width: 100%;
         }

         .video {
           overflow: hidden;
           position: relative;
           padding-bottom: 56.25%;
           padding-top: 30px;
           height: 0;
         }

         .video iframe {
           position: absolute;
           width: 100%;
           height: 100%;
           padding-bottom: 1em;
           left: 0;
           top: 0;
         }
       }

